<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CUSTOM_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd/MM/yyyy HH:mm} %clr(%-5level){INFO:green, ERROR:red, WARN:yellow, PreSaleThread-1 = blue,
                PreSaleThread-2 = purple} [%thread] %replace(%X{userColor}){'\\e','\u001B'} - %msg%n
            </pattern>

        </encoder>
    </appender>

    <logger name="com.TestBoot.boot_001" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CUSTOM_CONSOLE"/>
    </root>

</configuration>
